iframe {
    border:none;
}

body {
    background-color:#F5F2DE;
    color: #453C04;
    padding-bottom:60px;
}

a {
    color: #391BA6;
}

a:hover {
    color: #7964C4; 
}

footer {
    background-color: #7964C4;
    color: #F5F2DE;
    position: relative;
    margin-top: -50px; /* negative value of footer height */
    height: 50px;
    clear:both;
    padding-top:20px;
}

select {
    color: #453C04;
}

nav {
    background-color: #453C04;
}

nav a {
    color: #BFB134;
}

nav a:hover {
    color: #7964C4;
}

thead {
    background-color: #BFB134;
}

.dropdown-menu a:hover {
    color: #7964C4;
}

.answer {
    display: none;
}

.book-title{
    font-style: italic;
}

/*dk brown: #453C04
cream: #F5F2DE
dk purple: #391BA6
med purple: #7964C4
goldenrod: #BFB134*/