<!doctype html>
<html>
<head>
  <title>Wordsworth</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/styles.css">

</head>

<body>

{% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    {{ message }}
    <br>
    {% endfor %}
  {% endif %}
{% endwith %}

{% block navbar %}

<nav class="navbar">
  <a class="nav-link" href="/">Home</a>
  <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search</a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/word-search">Words</a>
          <a class="dropdown-item" href="/bigram-search">Bigrams</a>
        </div>
      </li>
</nav>

<!-- {% if session.get('logged_in') == True %}

<div id="logout-div">
<button id="logout">Logout</button>
</div>

<div id="logout-successful"></div>

<script>
  function confirmLogOut(result) {
    $("#logout-div").hide()
    $("#logout-successful").html(result);
  }

  function handleLogOut() {
    $.get("/logout", confirmLogOut);
  }

  $("#logout").on("click", handleLogOut)

</script> -->

<br>
{% endif %}
{% endblock %}

  {% block content %} 
  {% endblock %}

  {% block footer %}

<footer class="page-footer fixed-bottom font-small">
<div class="footer-copyright text-center">Wordsworth © 2019 Marissa Skudlarek
   </div>
</footer>
  {% endblock %}

<script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>
