<!doctype html>
<html>
<head>
  <title>Anachronism Finder</title>
  <link rel="stylesheet" type="text/css" href="/static/styles.css">

</head>

<body>

{% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    {{ message }}
    <br>
    {% endfor %}
  {% endif %}
{% endwith %}

{% if session.get('logged_in') == True %}

  <script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>

<button id="logoutin">Logout</button>

<script>
  function confirmLogOut(result) {
    console.log("Second function");
    console.log(result);
    $("#logoutin").value = "Log in";
    console.log($("#logoutin").value)
  }

  function handleLogOut() {
    console.log("First function");
    $.get("/logout", confirmLogOut);
    console.log("Moving on");
  }

  $("#logoutin").on("click", handleLogOut)

</script>

  <!-- send ajax request to take it out of the session and update the DOM using javascript -->

<br>
{% else %}

<a href="/sign-up">Sign up</a> or <a href="login">log in</a> for access to additional features
<br> 
<br>

{% endif %}

  {% block content %} 
  {% endblock %}

</body>
</html>
