<!doctype html>
<html>
<head>
  <title>Anachronism Finder</title>
  <link rel="stylesheet" type="text/css" href="/static/styles.css">

</head>

<body>

{% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    {{ message }}
    <br>
    {% endfor %}
  {% endif %}
{% endwith %}

{% if session.get('logged_in') == True %}

  <script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>

<div id="logout-div">
<button id="logout">Logout</button>
</div>

<div id="logout-successful"></div>

<script>
  function confirmLogOut(result) {
    $("#logout-div").hide()
    $("#logout-successful").html(result);
  }

  function handleLogOut() {
    $.get("/logout", confirmLogOut);
  }

  $("#logout").on("click", handleLogOut)

</script>

<br>
{% else %}

<a href="/sign-up">Sign up</a> or <a href="login">log in</a> for access to additional features
<br> 
<br>

{% endif %}

  {% block content %} 
  {% endblock %}

</body>
</html>
