{% extends 'base.html' %}
{% block content %}

This is intended to show you the number of times a single bigram (two-word phrase) appears in the corpus of the selected decade.
<br>
<br>

<form action="/bigram-results" method="GET">
    Please input a bigram
    <br>
    <input class="form-control" type="text" name="bigram" maxlength="50">
    <br>
    Which decade would you like to search for this phrase in? <br>
    <select class="form-control" name="decade">
        {% for decade in decades %}
        <option name="{{ decade }}" value="{{ decade }}">{{ decade }}</option>
        {% endfor %}
    </select>
    <br>
    <input class="btn btn-light" type="submit" value="Submit">
</form>
<br>
<br>
Note: Bigram search IS case-sensitive. You may therefore get different search results when searching for "divine providence," "divine Providence", and "Divine Providence."

{% endblock %}