{% extends 'base.html' %}
{% block content %}

  <script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>

Wordsworth is a tool to help historical fiction authors avoid linguistic anachronisms. You can compare a passage from your story to a corpus of fiction from the decade you're writing about, or look up whether a specific bigram (two-word phrase) is found in fiction from that decade.

<h2>FAQs</h2>

<div class="toggle">
    <div class="toggle-title">
        <h4>
        <span class="title-name">What novels are in the comparison corpus?</span>
        </h4>
    </div>
    <div class="toggle-inner">
        <p>You can view a list of all novels in the corpus <a href="/corpus">here</a>.</p>
    </div>
    </div>
<br>
<div class="toggle">
    <div class="toggle-title">
        <h4>
        <span class="title-name">Where have you sourced the texts for the comparison corpus?</span>
        </h4>
    </div>
    <div class="toggle-inner">
        <p><a href="https://www.gutenberg.org/">Project Gutenberg!</a></p>
    </div>
    </div>
<br>
<div class="toggle">
    <div class="toggle-title">
        <h4>
        <span class="title-name">What qualifies a novel for your comparison corpus?</span>
        </h4>
    </div>
    <div class="toggle-inner">
        <p>Corpus novels should have been written in English between the years of 1800 and 1923, and have had a realistic, contemporary setting at the time they were published. (But we define "realistic" and "contemporary" in a loose way.) For instance, the novels of Austen, Gaskell, Forster, Wharton, Alcott, Trollope, etc.</p>
    </div>
    </div>
<br>
<div class="toggle">
    <div class="toggle-title">
        <h4>
        <span class="title-name"><i>Madame Bovary</i> / <i>Anna Karenina</i> / <i>Effi Briest</i> is a classic! Why isn't it in your corpus?</span>
        </h4>
    </div>
    <div class="toggle-inner">
        <p>None of these novels qualify because they were originally written in French, Russian, and German, respectively. Also, you should take a hard look at why you are so into novels where women commit adultery and then die in misery.</p>
    </div>
    </div>
<br>
<div class="toggle">
    <div class="toggle-title">
        <h4>
        <span class="title-name">If your corpus is focused on realistic fiction, why does it include <i>Dracula</i> and Sherlock Holmes stories?</span>
        </h4>
    </div>
    <div class="toggle-inner">
        <p>We have decided to include genre fiction that takes place in a "realistic" setting (as opposed to a fantasy or historical setting). <i>Dracula</i> may be a fantasy/horror novel and the Sherlock Holmes stories may be mystery fiction, but they are recognizably set in 1890s England and offer a wealth of incidental information about how language was used in that decade. They have also proved extremely influential to modern fiction writers. We want Wordsworth to be useful to writers of steampunk stories or mystery stories or gothic stories -- not just writers of "literary" fiction. </p>
    </div>
    </div>
<br>
<div class="toggle">
    <div class="toggle-title">
        <h4>
        <span class="title-name">Are you aware that the version of <i>The Tenant of Wildfell Hall</i> in your corpus is an abridged version?</span>
        </h4>
    </div>
    <div class="toggle-inner">
        <p>Yes, to our chagrin -- because that's the version that was available on Project Gutenberg. (Justice for Anne Brontë!) If you know of a publicly available plaintext version of the unabridged version, please message us.</p>
    </div>
    </div>
<br>
<div class="toggle">
    <div class="toggle-title">
        <h4>
        <span class="title-name">The bestselling American novel of the 1800s was <i>Ben-Hur</i>. Why isn't it in your corpus?</span>
        </h4>
    </div>
    <div class="toggle-inner">
        <p><i>Ben-Hur</i> is a work of historical fiction that takes place in a Biblical setting. Therefore, we worried that its language would skew our corpus results in a way that wouldn't be helpful to someone who's using our app to help them write a story that is <i>set</i> in the 1880s. This is also why we have not included the historical novels of Walter Scott.</p>
    </div>
    </div>
<br>
<div class="toggle">
    <div class="toggle-title">
        <h4>
        <span class="title-name">I am writing a World War II novel. Why doesn't your corpus include works from the 1940s?</span>
        </h4>
    </div>
    <div class="toggle-inner">
        <p>As of 2019, the public domain in the United States ends in 1923. For legal reasons, we have therefore decided not to analyze and store word-frequency data from novels written in 1924 and later. As new 1920s novels enter the public domain in the years to come, we will try to add them to our corpus. If you feel strongly that the U.S. public domain laws are ridiculous, lobby your Congressional representatives.</p>
    </div>
    </div>
<br>
<div class="toggle">
    <div class="toggle-title">
        <h4>
        <span class="title-name"><i>Ulysses</i> is the greatest novel of the 20th century <i>and</i> it is public domain <i>and</i> it is set on a specific day in 1900s Dublin! What do you have against James Joyce?</span>
        </h4>
    </div>
    <div class="toggle-inner">
        <p>Joyce's use of language is just <i>too</i> innovative for our humble little app and might unduly skew the corpus results.</p>
    </div>
    </div>
<br>
<div class="toggle">
    <div class="toggle-title">
        <h4>
        <span class="title-name">I've thought of another text that isn't in your corpus, but it should be. How can I add it?</span>
        </h4>
    </div>
    <div class="toggle-inner">
        <p>Email us at marissa skudlarek at gmail dot com and suggest it! If it otherwise fits the corpus parameters, we'll look into adding it in a subsequent release. However, we do not plan to develop a feature to allow users to add texts to the corpus themselves.</p>
    </div>
    </div>
<br>
<div class="toggle">
    <div class="toggle-title">
        <h4>
        <span class="title-name">How does "discount words" feature work?</span>
        </h4>
    </div>
    <div class="toggle-inner">
        <p>It allows you to tell the system to ignore certain words in your passage (words you may already know are anachronistic) before analyzing it. For instance, Mary Robinette Kowal's fantasy novel <i>Shades of Milk and Honey</i> is heavily influenced by the works of Jane Austen, but it features a hero named "Mr. Vincent" and a magic system known as "glamour". Neither the words "vincent" or "glamour" appear in our 1810s corpus, so it would make sense for Kowal to tell the system to ignore those words if she ran her text through the app.</p>
    </div>
    </div>
<br>
<br>
<div class="toggle">
    <div class="toggle-title">
        <h4>
        <span class="title-name">Your app is meant for fiction writers, not for poets, and your corpus does not include poetry. So why is it called Wordsworth?</span>
        </h4>
    </div>
    <div class="toggle-inner">
        <p>We can't resist a literary pun and we told ourselves that no one else would overthink this.</p>
    </div>
    </div>
<br>
<script>
if ($(".toggle-title").hasClass("active")) {
    $(".toggle-title.active").closest(".toggle").find(".toggle-inner").show();
}

$(".toggle-title").on("click", function() {
    console.log("1")
    if ($(this).hasClass("active")) {
        $(this).removeClass("active").closest(".toggle").find(".toggle-inner").slideUp(200);
    }
    else {
        $(this).addClass("active").closest(".toggle").find(".toggle-inner").slideDown(200);
    }

});
</script>


{% endblock %}