{% extends 'base.html' %}
{% block content %}

  <script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>

<div class="container">
<h2><span class="cormorant">FAQs</span></h2>

Wordsworth is a tool to help historical fiction authors avoid linguistic anachronisms. You can compare a passage from your story to a corpus of fiction from the decade you're writing about, or look up whether a specific bigram is found in fiction from that decade.

<h3>About Wordsworth in General</h3>
<div class="faq">
    <div class="question">
        <h5>Where did you come up with the idea for this app?</h5>
    </div>
    <div class="answer">
        <p>Wordsworth is inspired by the work of <a href="http://benschmidt.org/">Ben Schmidt</a>, a digital-humanities professor who, in the early 2010s, <a href="https://www.theatlantic.com/entertainment/archive/2013/01/did-anyone-say-racial-equality-in-1865-the-language-of-i-lincoln-i/266990/">wrote about</a> trying to identify linguistic anachronisms in historical fiction screenplays by comparing them to texts written in the period they were set. Schmidt's program and corpus is not publicly available, so we decided to try to create an approximation of it.</p>
    </div>
</div>
<br>
<div class="faq">
    <div class="question">
        <h5>Your app is meant for fiction writers, not for poets, and your corpus does not include poetry. So why is it called Wordsworth?</h5>
    </div>
    <div class="answer">
        <p>We can't resist a literary pun and we told ourselves that no one else would overthink this.</p>
    </div>
    </div>
<br>
<div class="faq">
    <div class="question">
        <h5>I have a question that isn't answered on this page / I think I've discovered a bug on Wordsworth. How can I get in touch with you?</h5>
    </div>
    <div class="answer">
        <p>Email the app's creator at marissa (dot) skudlarek (at) gmail.com, or submit an Issue on <a href="https://github.com/MarissaSkud/Wordsworth">Wordsworth's GitHub page</a>.</p>
    </div>
    </div>
<br>

<h3>About Wordsworth's Features</h3>
<br>
<div class="faq">
    <div class="question"><h5>What is a bigram?</h5></div>
    <div class="answer">
        <p>A bigram (pronounced "BY-gram") is a linguistic term for a phrase of two words.</p>
    </div>
    </div>
<br>
<div class="faq">
    <div class="question"><h5>What are the Google Ngram charts and where do they come from?</h5></div>
    <div class="answer">
        <p>The <a href="https://books.google.com/ngrams">Google Books Ngram Viewer</a> is a Google feature that uses the Google Books corpus to graph word and phrase frequencies over time. These graphs can be embedded in other websites using iframes. Wordsworth's Google Ngram charts default to pulling from Google's "English Fiction" corpus.
        </p>
    </div>
    </div>
<br>
<div class="faq">
    <div class="question"><h5>How does the Discount Words feature work?</h5></div>
    <div class="answer">
        <p>The Discount Words feature allows you to tell the system to ignore certain words in your passage (words you may already know are anachronistic) before analyzing it. For instance, Mary Robinette Kowal's fantasy novel <span class="book-title">Shades of Milk and Honey</span> is heavily influenced by the works of Jane Austen, but it features a hero named "Mr. Vincent" and a magic system known as "glamour". Neither the words "vincent" or "glamour" appear in our 1810s corpus, so it would make sense for Kowal to tell the system to ignore those words if she ran her text through the app.</p>
    </div>
    </div>
<br>

<h3>About Wordsworth's Corpus</h3>

<div class="faq">
    <div class="question"><h5>What novels are in the comparison corpus?</h5></div>
    <div class="answer">
        <p>You can view a list of all novels in the corpus <a href="/corpus">here</a>.</p>
    </div>
    </div>
<br>
<div class="faq">
    <div class="question"><h5>Where have you sourced the texts for the comparison corpus?</h5></div>
    <div class="answer">
        <p>All texts come from <a href="https://www.gutenberg.org/">Project Gutenberg</a>.</p>
    </div>
    </div>
<br>
<div class="faq">
    <div class="question"><h5>What qualifies a novel for your comparison corpus?</h5></div>
    <div class="answer">
        <p>Corpus novels should have been written in English between the years of 1800 and 1923, and have had a realistic, contemporary setting at the time they were published. (But we define "realistic" and "contemporary" in a loose way.) For instance, the novels of Austen, Gaskell, Forster, Wharton, Alcott, Trollope, etc.</p>
    </div>
    </div>
<br>
<div class="faq">
    <div class="question"> <h5> <span class="book-title">Madame Bovary</span> / <span class="book-title">Anna Karenina</span> / <span class="book-title">Effi Briest</span> is a classic! Why isn't it in your corpus?</h5>
    </div>
    <div class="answer">
        <p>None of these novels qualify because they were originally written in French, Russian, and German, respectively. Also, you should take a hard look at why you are so into novels where women commit adultery and then die in misery.</p>
    </div>
    </div>
<br>
<div class="faq">
    <div class="question">
        <h5>If your corpus is focused on realistic fiction, why does it include <span class="book-title">Dracula</span> and a Sherlock Holmes novel?</h5>
    </div>
    <div class="answer">
        <p>We have decided to include some genre fiction that takes place in a "realistic" setting (as opposed to a fantasy or historical setting). <span class="book-title">Dracula</span> may be a fantasy/horror novel and the Sherlock Holmes stories may be mystery fiction, but they are recognizably set in late Victorian England and offer a wealth of incidental information about how language was used in that era. They have also proved extremely influential to modern fiction writers. We want Wordsworth to be useful to writers of steampunk stories or mystery stories or gothic stories -- not just writers of "literary" fiction. </p>
    </div>
    </div>
<br>
<div class="faq">
    <div class="question">
        <h5>
       Are you aware that the version of <span class="book-title">The Tenant of Wildfell Hall</span> in your corpus is an abridged version?</h5>
    </div>
    <div class="answer">
        <p>Yes, to our chagrin -- because that's the version that was available on Project Gutenberg. (Justice for Anne Brontë!) If you know of a publicly available plaintext version of the unabridged version, please message us.</p>
    </div>
    </div>
<br>
<div class="faq">
    <div class="question">
        <h5>The bestselling American novel of the 1800s was <span class="book-title">Ben-Hur</span>. Why isn't it in your corpus? </h5>
    </div>
    <div class="answer">
        <p><span class="book-title">Ben-Hur</span> is a work of historical fiction that takes place in a Biblical setting. Therefore, we worried that its language would skew our corpus results in a way that wouldn't be helpful to someone who's using our app to help them write a story that is <i>set</i> in the 1880s. This is also why we have not included the historical novels of Walter Scott.</p>
    </div>
    </div>
<br>
<div class="faq">
    <div class="question">
        <h5>I am writing a World War II novel. Why doesn't your corpus include works from the 1940s?
        </h5>
    </div>
    <div class="answer">
        <p>As of 2019, the public domain in the United States ends in 1923. For legal reasons, we have therefore decided not to analyze and store word-frequency data from novels written in 1924 and later. As new 1920s novels enter the public domain in the years to come, we will try to add them to our corpus. If you feel strongly that the U.S. public domain laws are ridiculous, lobby your Congressional representatives.</p>
    </div>
    </div>
<br>
<div class="faq">
    <div class="question">
        <h5><span class="book-title">Ulysses</span> is the greatest novel of the 20th century <i>and</i> it is public domain <i>and</i> it is set on a specific day in 1900s Dublin! What do you have against James Joyce?</h5>
    </div>
    <div class="answer">
        <p>Joyce's use of language is just <i>too</i> innovative for our humble little app and might unduly skew the corpus results.</p>
    </div>
    </div>
<br>
<div class="faq">
    <div class="question">
        <h5>I've thought of another text that isn't in your corpus, but it should be. How can I add it?
        </h5>
    </div>
    <div class="answer">
        <p>Email us at marissa skudlarek at gmail dot com and suggest it! If it otherwise fits the corpus parameters, we'll look into adding it in a subsequent release. However, we do not plan to develop a feature to allow users to add texts to the corpus themselves.</p>
    </div>
    </div>
<br>

</div>

<script>
if ($(".question").hasClass("active")) {
    $(".question.active").closest(".faq").find(".answer").show();
}

$(".question").on("click", function() {
    if ($(this).hasClass("active")) {
        $(this).removeClass("active").closest(".faq").find(".answer").slideUp(200);
    }
    else {
        $(this).addClass("active").closest(".faq").find(".answer").slideDown(200);
    }

});
</script>


{% endblock %}