{% extends 'base.html' %}
{% block content %}

<h1>WORDSWORTH</h1>
<h3>Measure the language of historical fiction
    <br>
    against fiction written in that era</h3>

Analyze <a href="/word-search">a passage of text</a> 
<br>
Search for <a href="/bigram-search">a specific two-word phrase</a>
<br>
<br>

{% if session.get('logged_in') != True %}

<a href="login">Log in</a> for access to additional features
<br> 

{% endif %}
<br>
<br>

<a href="/faqs">Learn more about Wordsworth's methodology</a>
<br>
<a href="/corpus">View our corpus</a>

{% endblock %}