{% extends 'base.html' %}
{% block content %}

Welcome to the anachronism finder
<br>
Please input a sample (2500 characters or less) of the text you want to analyze
<br>

<form action="/process-text" method="GET">
    <textarea maxlength="2500" rows="7" cols="50" name="textstring">
    </textarea>
    <br>
    Would you like to analyze words or bigrams?
    <br>
    <input type="radio" name="analysis-type" value="words">Words
    <input type="radio" name="analysis-type" value="bigrams">Bigrams
    <br>
    Which decade would you like to compare this text to? <br>
    <select>
        {% for decade in decades %}
        <option name="decade" value="{{} decade }}">{{ decade }}</option>
        {% endfor %}
    </select>
    <input type="submit" name="submit">
</form>

{% endblock %}