{% extends 'base.html' %}
{% block content %}

{% if session.get("logged_in") == True %}

You are already logged in.

{% else %}

<div class="container">

Log in for access to your saved words.
<br>
<br>
Don't have an account? <a href="/register">Sign up here.</a>

<form action='/login-process' method="POST">
    Email : <input class="form-control" type="text" name="email">
    Password : <input class="form-control" type="password" name="password">
    <input class="btn btn-light" type="submit" name="submit" value="Log in">
</form>

</div>
{% endif %}

{% endblock %}
