{% extends 'base.html' %}
{% block content %}

This app is intended to help historical fiction authors avoid linguistic anachronisms by comparing their writing against fiction from the era they're writing about.

<br>
<br>

Our corpus consists of novels originally written in English between the years 1800 and 1923. The focus is on realistic fiction that had a contemporary setting at the time it was published: authors such as Austen, Gaskell, Forster, Wharton, Alcott, Trollope, etc. We may also include some genre fiction, as long as it takes place in a "realistic" setting. For instance, <i>Dracula</i> and <i>The Picture of Dorian Gray</i> are both fantasy/horror novels, but they also offer much incidental information about what life was like and how language was used in 1890s England.

<br>
<br>

What we've left out are novels whose language might unduly skew the corpus results (and make them less useful for historical fiction authors) because it is too unusual. The bestselling American novel of the 19th century was <i>Ben-Hur</i>, but it is not included in our corpus because it takes place in ancient times. James Joyce's <i>Ulysses</i> was published in the 1920s and takes place in 1900s Dublin, but its innovative use of language would not be super helpful to someone who is seeking to write more conventional fiction that is set in the early 20th century.

<br>
<br>

Our "ignore" feature allows you to tell the system to ignore certain words in your passage before analyzing it. For instance, the style of Mary Robinette Kowal's fantasy novel <i>Shades of Milk and Honey</i> series is heavily influenced by the works of Jane Austen, but it features a hero named "Mr. Vincent" and a magic system known as "glamour". Neither the words "vincent" or "glamour" appear in our 1810s corpus, so it would make sense for Kowal to tell the system to ignore those words if she ran her text through the app.

{% endblock %}