{% extends 'base.html' %}
{% block content %}

<div class=container>
    <h2><div class="row cormorant">Sign Up</div></h2>
    <div class="row">Most of Wordsworth's features are free to use without signing in, but if you would like to save your list of Words to Discount and have the system automatically ignore them, you will need to register an account.</div>

    <form action="/sign-up" method="POST">
        <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" type="text" name="email">
            <small id="emailHelp" class="form-text text-muted" for="email">We'll never share your email with anyone else.</small>
            <label for="password">Password</label>
            <input class="form-control" type="password" name="password">
            <br>
            <input class="btn btn-light" type="submit" value="Register">
        </div>
    </form>
</div>

{% endblock %}