{% extends 'base.html' %}
{% block content %}

{% if session.get("logged_in") == True %}
<br>
Welcome, {{ session["user_id"] }}.
<br>
<br>

    {% if ignore_words == [] %}
    Your list of words to ignore is currently empty.

    <br>

    {% else %}
    Your ignore words are:
<br>
<form action="/delete-ignore-words" method="POST">
<ul>
    {% for word in ignore_words %}
    <input type="checkbox" id="ignore-word" name="ignore-word" value="{{ word }}">
        <label for="ignore-word">{{ word }}</label><br>

    {% endfor %}
</ul>
<input type="submit" value="Stop ignoring selected words">
</form>
<br>
<br>
    {% endif %}

If you wish to add words to your list of Ignore Words, enter them below.

<form action="/add-ignore-words" method="POST">
    <textarea maxlength="2500" rows="7" cols="50" name="to-ignore"></textarea>
    <input type="submit" name="submit" value="Add these words to ignore list">
</form>


{% else %}

Please <a href="/sign-up">sign up</a> or <a href="login">log in</a> to view this page.

{% endif %}


{% endblock %}