{% extends 'base.html' %}
{% block content %}

This will compare a text sample to our corpus of texts from the selected decade and show you any words that appear in your text, but not the corpus.
<br>
<br>

<form action="/words-results" method="GET">
    Please input a sample (2500 characters or less) of the text you want to analyze.
    <br>
    <textarea maxlength="2500" rows="7" cols="50" name="textstring"></textarea>
    <br>
    <br>
    Are there any words you want the app to ignore? (e.g., character names). List them here, separated by spaces.
    <br>
    <textarea name="ignore" maxlength="300" rows="3" cols="50"></textarea> 
    <br>
    <br>
    Which decade would you like to compare this text to? <br>
    <select name="decade">
        {% for decade in decades %}
        <option name="{{ decade }}" value="{{ decade }}">{{ decade }}</option>
        {% endfor %}
    </select>
    <br>
    <input type="submit" name="submit">
</form>
<br>
<br>
Note: Word search is not case-sensitive. Your text will be converted to all lower-case and compared to a corpus of lower-cased words.

{% endblock %}