{% extends 'base.html' %}
{% block content %}

This will compare a text sample to our corpus of texts from the selected decade and show you any words that appear in your text, but not the corpus.
<br>
<br>

<form action="/word-results" method="GET">
    Please input a sample of the text you want to analyze.
    <br>
    <textarea class="form-control" maxlength="2500" name="textstring"></textarea>
    <br>
    <small class="form-text text-muted">Sample must be 2500 characters or less.</small>
    <br>
    Are there any words you want the app to ignore? (e.g., character names). List them here, separated by spaces.
    <br>
    <textarea class="form-control" name="ignore" maxlength="300"></textarea> 
    <br>
    <br>
    Which decade would you like to compare this text to? <br>
    <select class="form-control" name="decade">
        {% for decade in decades %}
        <option name="{{ decade }}" value="{{ decade }}">{{ decade }}</option>
        {% endfor %}
    </select>
    <br>
    <input class="btn btn-light" type="submit" value="Submit">
</form>
<br>
<br>
Note: Word search is not case-sensitive. Your text will be converted to all lower-case and compared to a corpus of lower-cased words.

{% endblock %}